## Project 3 - 100 points

Please complete this Python notebook and upload it to the Project 3 Moodle assignment space.
This project is meant to familiarize you with basic data structures and data manipulation in Python.

In [6]:
# 1 Extracting substrings. Write a SINGLE python statement to slice the below string and extract 'srwer' from it 
# When executed, this block should produce the output 'srwer'                                                     - 2 points

strobj = 'strawberry'
print(strobj[0::2])

srwer

In [8]:
# 2 Write a for loop to iterate through the string and to print all vowels within it  
# When executed, this block should output all vowels in the string                                                - 3 points

strobj = 'strawberry'
for char in strobj:
    if char in "aeiou":
        print(char)

a
e

In [10]:
# 3 Write python statement/statements to duplicate both strings and to join them to produce String1String1String2String2
# When executed, this block should produce the output 'String1String1String2String2'                              - 3 points

str1 = 'String1'
str2 = 'String2'
print(str1 + str1 + str2 + str2)

String1String1String2String2

In [12]:
# 4 Write python statements to covert the below string to all uppercase and all lowercase.
# When executed, this block should produce the output CONVERTCASE  convertcase                                    - 3 points

strobj = 'ConvertCase'
print(strobj.upper())
print(strobj.lower())

CONVERTCASE
convertcase

In [14]:
# 5 Write a python statement to change item at index 2 to 'bmw'                                                   
# When executed, this block should produce the output ['bus', 'bike', 'bmw', 'toyota']                            - 3 points

lst = ['bus', 'bike', 'honda', 'toyota']
if "honda" in lst:
    lst[lst.index("honda")] = "bmw"
print(lst)

['bus', 'bike', 'bmw', 'toyota']

In [16]:
# 6 Write a python statement to create a new list lst3 that is a result of joining two lists
# When executed, this block should produce the output ['bus', 'bike', 'bmw', 'toyota']                            - 3 points

lst1 = ['bus', 'bike']
lst2 = ['bmw', 'toyota']
lst3 = lst1 + lst2
print(lst3)

['bus', 'bike', 'bmw', 'toyota']

In [18]:
# 7 Iterate through the list to check if 'apple' is present in the list
# When executed, this block should produce the output True                                                        - 3 points 

lst = ['banana', 'peach', 'pear', 'apple']
for item in lst:
    if item == "apple":
        print(True)

True

In [20]:
# 8 Iterate through the list to check if 'mango' is present in the list. If not append it to the list.            - 3 points
# When executed, this block should produce the output ['banana', 'peach', 'pear', 'apple', 'mango']


lst = ['banana', 'peach', 'pear', 'apple']
if "mango" not in lst:
    lst.append("mango")
print(lst)

['banana', 'peach', 'pear', 'apple', 'mango']

In [28]:
# 9 Remove the item 'pear' from the below list.
# When executed, this block should produce the output ['banana', 'peach', apple', 'mango']                        - 3 points

lst = ['banana', 'peach', 'pear', 'apple', 'mango']
if "pear" in lst:
    lst.remove("pear")
print(lst)

['banana', 'peach', 'apple', 'mango']

In [30]:
# 10 Iterate through the list to remove numbers that are divisible by 4 from the list
# When executed, this block should produce the output [35, 31, 13]                                                - 3 points

lst = [24, 35, 40, 31, 13]
for item in lst:
    if item % 4 == 0:
        lst.remove(item)
print(lst)

[35, 31, 13]

In [40]:
# 11 Write a python statement to convert the below tuple to a list
# When executed, this block should produce the output ['banana', 'peach', 'apple', 'mango']                       - 3 points

tup = ('banana', 'peach', 'apple', 'mango')
lst = list(tup)
print(lst)

['banana', 'peach', 'apple', 'mango']

In [44]:
# 12 Write a python statement to conver the below list to a tuple
# When executed, this block should produce the output ('banana', 'peach', 'pear', 'apple')                        - 3 points

lst = ['banana', 'peach', 'pear', 'apple']
tup = tuple(lst)
print(tup)

('banana', 'peach', 'pear', 'apple')

In [50]:
# 13 Write python statements to replace peach with grape in the below tuple. 
# When executed, this block should produce the output ('banana', 'grape', 'pear', 'apple')                        - 3 points
# Hint: Tuples are immutable so think of converting the tuple to a different data structure,
# make the changes and convert it back to a tuple

tup = ('banana', 'peach', 'pear', 'apple')
lst = list(tup)
for item in lst:
    if item == "peach":
        lst[lst.index("peach")] = "grape"
tup = tuple(lst)
print(tup)

('banana', 'grape', 'pear', 'apple')

In [56]:
# 14 Find number of items in the tuple
# When executed, this block should produce the output 3                                                            - 3 points

tup = (5, 2, 8)
print(len(tup))

3

In [60]:
# 15 Iterate through the tuple and every time you encounter an odd number, append it to a new list and print the list
# When executed, this block should produce the output [3, 5, 9]                                                    - 4 points

tup = (2, 3, 5, 8, 10, 9, 6)
lst = []
for item in tup: 
    if item % 2 == 1:
        lst.append(item)
print(lst)

[3, 5, 9]

In [62]:
# 16 Write a python statement to find the number of items in the below dictionary
# When executed, this block should produce the output 4                                                            - 3 points

dict1 = {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan'}

print(len(dict1))

4

In [108]:
# 17 Write python statements to iterate through the dictionary to print keys and their corresponding values         - 3 points
# Output of this block should be:
# car honda
# color blue
# mpg 32
# type sedan

dict1 = {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan'}
for key, value in dict1.items():
    print(f"{key} {value}")

car honda
color blue
mpg 32
type sedan

In [118]:
# 18 Write python statements to replace the value of key car from honda to bmw and print the dictionary            - 3 points
# Output of this code block should be {'car':'bmw', 'color':'blue', 'mpg':32, 'type':'sedan'}

dict1 = {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan'}
dict1["car"] = "bmw"
print(dict1)

{'car': 'bmw', 'color': 'blue', 'mpg': 32, 'type': 'sedan'}

In [124]:
# 19 Write a python statement to join two dictionaries
# Output of this code block should be {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan', 'price':'20k'}    - 3 points

dict1 = {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan'}
dict2 = {'price':'20k'}
dict1 = dict1 | dict2
print(dict1)

{'car': 'honda', 'color': 'blue', 'mpg': 32, 'type': 'sedan', 'price': '20k'}

In [136]:
# 20 Write a python statement to print value for the key 'color'                                                   - 3 points
# Output of this block should be 'blue'

dict1 = {'car':'honda', 'color':'blue', 'mpg':32, 'type':'sedan'}
print(dict1["color"])

blue

In [144]:
# 21 Iterate through the nested list to sort individual lists
# Output of this block should be [[4, 5, 8], [11, 13, 20]]                                                         - 5 points

lst = [[8, 4, 5], [20, 11, 13]]
for sublist in lst:
    sublist.sort()
print(lst)

[[4, 5, 8], [11, 13, 20]]

In [156]:
# 22 Iterate through the nested list to print all odd numbers
# Output of this block should be 3 5 11 13                                                                         - 5 points

lst = [[3, 4, 5], [10, 11, 13]]
for sublist in lst:
    for item in sublist:
        if item % 2 == 1:
            print(item, end=" ")

3 5 11 13

In [5]:
# 23 Given the list below, write code to add all the elements at odd indices and append the total to the end of the list
# and print the list 
# Remember list index starts at 0
# Output of this block should be [23, 13, 65, 21, 10, 6, 45, 67, 98, 321, 6, 61, 16, 70, 559]                      - 5 points

lst = [23, 13, 65, 21, 10, 6, 45, 67, 98, 321, 6, 61, 16, 70]

odd_lst_sum = sum(lst[i] for i in range(1, len(lst), 2))
lst.append(odd_lst_sum)
print(lst)

[23, 13, 65, 21, 10, 6, 45, 67, 98, 321, 6, 61, 16, 70, 559]

In [55]:
# 24 Given the list below, write a function to multiply all the elements at odd indices and add all the elements at
# even indices. Append the sum and product to the end of the list and return the list 
# Remember list index starts at 0
# Output of this block should be [23, 13, 65, 21, 10, 6, 45, 67, 98, 321, 6, 61, 16, 70, 263, 150425549820]        - 5 points

lst = [23, 13, 65, 21, 10, 6, 45, 67, 98, 321, 6, 61, 16, 70]

def addlst(lst):
    even_lst_sum = sum(lst[i] for i in range(0, len(lst), 2))
    lst.append(even_lst_sum)

    # 1 because if you init at 0, 0* anything is 0
    product_odd_lst = 1
    for i in range(1, len(lst), 2):
        product_odd_lst *= lst[i]
    lst.append(product_odd_lst)
    
    return lst

print(addlst(lst))

[23, 13, 65, 21, 10, 6, 45, 67, 98, 321, 6, 61, 16, 70, 263, 150425549820]

In [83]:
# 25 Write python code to square each number of the nexted list
# Output of this block should be [[9,4,16], [121,81,400]]                                                           - 5 points

lst = [[3,2,4], [11,9,20]]

lst = [[num ** 2 for num in sublist] for sublist in lst]
print(lst)

[[9, 4, 16], [121, 81, 400]]

In [117]:
# 26 Write a python function that accepts a string as a positional argument, and for every NON Vowel character 
# in the string, duplicate the character. Finally print the new string. 

# Example 1:
# Input: “apple”
# Output: “apppplle”

# Example 2:
# Input: “beast”
# Output: “bbeasstt”

# Example 3:
# Input: “try”
# Output: “ttrryy”                                                                                                  - 5 points

def duplicate_non_vowels(strobj):
    vowels = "aeiouAEIOU"
    return "".join([char * 2 if char not in vowels else char for char in strobj])

# Example usage
print(duplicate_non_vowels("apple")) 
print(duplicate_non_vowels("beast"))
print(duplicate_non_vowels("try"))

apppplle
bbeasstt
ttrryy

In [129]:
# 27 Write a python function that accepts the below list as a positional argument. The list contains dictionaries 
# (transactions) as items. Iterate through this list and for each transaction calculate total cost. Finally sum all costs  
# to get the total bill amount. Print this value as output.
# Output: 77.05                                                                                                     - 10 points

transactions = [{'item':'book', 'qty':2, 'price per item':22.50}, {'item':'pen', 'qty':12, 'price per item':1.50}, 
                {'item':'pencil', 'qty':15, 'price per item':0.75}, {'item':'glue', 'qty':1, 'price per item':2.80}]

def totalvalue(transactions):
    total = sum(item['qty'] * item['price per item'] for item in transactions)
    return total

totalvalue(transactions)

77.05