# Project 4 - 100 points

### 1) Student Database Management.  30 points

**Project Description:**
Create a Python class that allows you to interact with a PostgreSQL database for managing student records. The class should provide the following functionality:


1. **Create a new database in PostgreSQL.** Call the database studentdata. Create a student table with columns studentname, studentid, age, gpa, major. The data for this table is provided. Please look at the data and the column types can be determined from the data.

2. **Upload data.** Upload the data (studentdata.csv) to the student table. This was demonstrated in the PostrgreSQL lecture.

3. **Connect to the Database:** This class method should establish a connection to the PostgreSQL database. The parameters of the method should be the database credentials and server information required to connect to the DB.

4. **Add a New Student Record:** This class method should insert a new row into the student table. The method should be called with the parameters required to add a new row of data. 

5. **View All Student Records:** This class method should retrieve all student records from the database table and display them to the console/output window.

6. **Calculate average GPA:** This class method should calculate the average gpa of all students in the student table. Print the gpa to the console/output window. 


Please make sure each method has exception handling blocks.

In [83]:
import psycopg2 as pg

class DBConnect():
    
    def __init__(self, hostname, port, dbname, username, password):
        self.host = hostname
        self.port = port
        self.database = dbname
        self.user = username
        self.password = password
        self.connection = None
        
    def connecttodb(self):
        try:
            #Add parameters to the connect method
            self.connection = pg.connect(
                host=self.host,
                port=self.port,
                databse=self.database,
                user=self.user,
                password=self.password)
            print("DB connection successful")
        except:
            print("DB connection unsuccessful")
            self.connection = None
            
    def connectionclose(self):
        try:
            if self.connection:
                self.connection.close()
        except:
            pass
        
    def adddata(self):
        pass
    
    def displaydata(self):
        pass
    
    def average(self):
        pass

In [84]:
dbobj = DBConnect("localhost", "5432", "studentdata", "bus443", "bus443")

dbobj.connecttodb()

DB connection unsuccessful

### 2) Bank transaction class  20 points

In [85]:
# Write a Python class that stores bank details of customers.                                                       
# Your class should have an __init__ method that initializes a customer’s
# firstname, lastname, age and starting balance. To this class, add class methods that
# i) Update the balance of a customer for cash deposit transaction
# ii) Update the balance of a customer for a cash withdrawal transaction. 
# Make sure the balance does not go below 0.
# We will test your code by creating objects. An object creation would be something like this

# andy = BankDetails("Andy", "Roberts", 35, 30000)

# where BankDetails is the name of the class.
# The update methods will be called via the object and will accept
# monetary amount that will increase or decrease the balance. Calling
# these methods would be something like this.

# andy.cashDeposit(12000)
# andy.cashWithdrawal(5000)

# During withdrawal, if the balance will end up being less than 0, then
# the transaction must not be successful and an error message
# should be displayed. (Simple print statement).

class BankDetails():
    
    def __init__(self, first, last, age, starting):
        self.first_name = first
        self.last_name = last
        self.age = age
        self.starting_balance = starting
        
    
    def cashDeposit(self, amount):
        pass
    
    def cashWithdrawal(self, amount):
        pass

### 3) Debug the below block of code 10 points

In [86]:
# Retain the first occurrence of a list item and delete duplicates from nested list. Output should be
#  [['banana', 'peach', 'pear'], ['apple'], ['mango'],['orange','grape']]                                             
# Correct syntax errors and any incorrect methods used. Modify the exising 
# code by adding statements or by making modifications to existing statements.

lst = [['banana', 'peach', 'pear'], ['banana','apple'], ['mango','pear'],['orange','grape','peach']]
templst=[]

for item in lst:
    for subitem in item:
        if(subitem in templst):
            item.delete(subitem)
        else:
            templst.append(subitem)

print(lst)

AttributeError: 'list' object has no attribute 'delete'

### 4) Debug the below block of code 20 points

In [ ]:
# Iterate over this data structure and count the number of students who have a score > 90 but the grade is not 'A'
# Output of this block should be (below statement)
# Number of students with incorrect grade: 2
# Modify the exising code by adding statements or by making modifications to existing statements.

lst = [[{'name':'andy', 'score':92, 'grade':'A'}, {'name':'steve', 'score':88, 'grade':'B'}], 
 [{'name':'andy', 'score':78, 'grade':'B'}, {'name':'steve', 'score':96, 'grade':'B'}], 
 [{'name':'andy', 'score':82, 'grade':'B'}, {'name':'steve', 'score':95, 'grade':'B'}]]

count = 0

for i in lst:
    for k,v in i.items():
        if k == 'score':
            studentscore = v
        if k == 'grade':
            studentgrade = v
        if studentscore > 90 and studentgrade != 'A':
            count = count + 1

print('Number of students with incorrect grade: {}'.format(count))

### 5) Dictionary iteration 20 points

In [ ]:
# Write a python function that accepts the below dictionary as a positional argument. Iterate through this 
# dictionary and create a list. The list should contain, all the names of the books whose type = ‘paperback’ and in the 
# last index, append the sum of prices of all paperback books. Return the list.
# Output = ['Da Vinci Code', 'The Client', 'Curtain', 43.22]

book = {'Rowling':{'name':'Harry Potter', 'type':'ebook', 'price':16.87},
 'Brown':{'name':'Da Vinci Code', 'type':'Paperback',
'price':17.35},
 'Grisham':{'name':'The Client', 'type':'Paperback', 'price':12.39},
 'Child':{'name':'Jack Reacher', 'type':'Hardcover', 'price':18.19},
 'Christie':{'name':'Curtain', 'type':'Paperback', 'price':13.48}
 }

def iterbook(book):
    pass